<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width device-width,initial-scale= 1.0">
    <title>TABLE ANALYSIS</title>
  </head>
<body>
  <h1>Names</h1>
  <ul>
      {% for x in data %}
       <li>{{ x.name }}</li>
      {% endfor %}
  </ul>
  <h1>Username</h1>
  <ul>
    {% for x in data %}
      <li>{{ x.username }}</li>
    {% endfor %}
  </ul>
  <h1>Email</h1>
  <ul>
    {% for x in data %}
      <li>{{ x.email}}</li>
    {% endfor %}
  </ul>
</body>
</html>